// Main video slider styles 


.video-slide {
    border-radius: $c-border-small;
    background-color: $c-white;
    overflow: hidden;
    max-width: 323px;
    height: 249px;


    &:hover {
        box-shadow: $box-shadow;
    }

    &__content {
        border-radius: $c-border-small;
        overflow: hidden;
        width: 100%;
    }

    &__title {
        line-height: 17px;
        margin-top: 16px;
        padding: 0 10px;
        font-size: 14px;
        display: flex;
    }
}

.top-categories-swiper {
    margin-top: 20px;
}