.goods-presentation-block__catalog {
    width: fit-content;
    position: relative;
    margin-right: 16px;
    display: block;

    @include media ('max', 'iPad') {
        margin-right: 0;
    }

    &_overflow {
        overflow: hidden;
    }
}

.goods-presentation-block__catalog.static-catalog-hide {
    @include media ('max', 'iPad') {
        display: none;
    }
}

.goods-presentation-block__catalog-menu {
    justify-content: space-between;
    padding: 16px 16px 8px 18px;
    background-color: $c-white;
    flex-direction: column;
    border-radius: 5px;
    position: initial;
    color: $c-text;
    display: flex;
    height: 465px;
    width: 348px;
    z-index: 1;

    @include media ('max', 'iPad') {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
    }

    &_height {
        height: 100%;
    }
}

.goods-presentation-block__menu__item {
    justify-content: space-between;
    @include f-Lato-Regular;
    align-items: center;
    line-height: 24px;
    cursor: pointer;
    font-size: 16px;
    display: flex;

    &:hover {
        text-decoration: underline;
    }

    & svg {
        height: 22px;
        width: 22px;
    }

    & .goods-presentation-block__menu-category-name {
        display: flex;
        gap: 15px;
    }

}