.catalog-modal {
    margin: 100px auto 0;
    max-width: 1600px;
    background: none;
    transform: none;
    height: 690px;
    width: 100%;

    // width: 70vw;
}

.goods-presentation-block__catalog {
    display: flex;
}