.search {
    position: relative;
    margin: 0 40px;
    width: 764px;

    @include media (max, 'hd') {
        margin: 0;
    }

    &__closer {
        border-top: 1px solid $c-main-gray;
    }

    &__results-field {

        @include media (max, 'mobile-horizontal') {
            position: fixed;
            height: 100vh;
            width: 100vw;
            z-index: 30;
            bottom: 0;
            top: 74px;
            left: 0;
        }

    }

    &__pic {
        height: 60px;
        width: 60px;
    }

    &__shape {
        background-color: $c-white;
        padding: 20px 16px 16px;
        box-shadow: $box-shadow;
        position: absolute;
        border-radius: 5px;
        height: fit-content;
        margin-top: 5px;
        display: none;
        z-index: 20;
        width: 90%;


        @include media (max, 'mobile-horizontal') {
            margin-top: 0;
            height: 100%;
            width: 100%;
        }
    }

    &__onfocus-shape.search-active {
        display: block;
    }

    &__onfocus-title {
        border-bottom: 1px solid $c-extra-gray;
        padding-bottom: 7px;
        color: $c-light-gray;
        font-size: 14px;
    }

    &__onfocus-history {
        border-bottom: 1px solid $c-extra-gray;
        padding: 18px 0;
        color: $c-text;
    }

    &__onfocus-history-list {
        flex-direction: column;
        display: flex;
        gap: 20px;
    }

    &__onfocus-history-item {
        align-items: center;
        font-size: 12px;
        display: flex;
        gap: 7px;


        &.hidden {
            display: none;
        }
    }


    &__onfocus-reset-btn {
        border: none;
        border-bottom: 1px solid $c-light-gray;
        color: $c-light-gray;
        margin-top: 16px;
        background: none;
        font-size: 12px;
    }

    &__searching-shape.search-active {
        justify-content: space-between;
        display: flex;

        @include media (max, 'mobile-horizontal') {
            justify-content: flex-start;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__searching-aside-results {
        border-right: 1px solid $c-light-gray;
        flex-direction: column;
        color: $c-light-gray;
        font-size: 12px;
        display: flex;
        width: 200px;

        @include media (max, 'mobile-horizontal') {
            border-bottom: 1px solid $c-light-gray;
            padding-bottom: 16px;
            border-right: none;
            width: 100%;
        }

        &.no-result {
            font-size: 14px;
            border: none;
            width: 100%;
        }
    }

    &__category-item:first-child {
        @include f-Lato-Medium;
        color: $c-main-gray;
        font-size: 14px;
    }

    &__searching-aside-category {
        flex-direction: column;
        display: flex;
        gap: 16px;
    }

    &__searching-main-result {
        flex-direction: column;
        padding-left: 24px;
        display: flex;
        gap: 33px;

        @include media (max, 'mobile-horizontal') {
            padding-left: 0;
        }
    }

    &__main-result-item {
        justify-content: space-between;
        align-items: center;
        display: flex;
        gap: 5px;
    }

    &__searching-descrip {
        flex-direction: column;
        display: flex;
        gap: 5px;
    }

    &__searching-descrip-code,
    &__searching-descrip-oldprice {
        color: $c-light-gray;
        font-size: 8px;
    }

    &__searching-descrip-oldprice {
        text-decoration: line-through;
    }

}

.search_results-field--display {
    display: none;
}