//? All Top-categories block styles

.top-categories-block {
    position: relative;

    &__header {
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    &__all-view-btn {
        justify-content: space-between;
        align-items: center;
        color: $c-main-gray;
        display: flex;
        gap: 8px;

        @include media(max, 'iPad') {
            display: none;
        }
    }

    &__opacity-block {
        background: $linear;
        position: absolute;
        height: 300px;
        width: 200px;
        z-index: 1;
        top: 30px;
        right: 0;

        @include media(max, 'iPad') {
            display: none;
        }
    }
}

//? Swiper styles

.top-card {
    justify-content: space-between;
    border-radius: $c-border-small;
    flex-direction: column;
    box-shadow: $box-shadow;
    background: $c-white;
    align-items: center;
    padding: 24px 26px;
    max-width: 262px;
    height: 276px;
    display: flex;

    @include media(max, 'iPad') {
        max-width: 224px;
    }

    @include media('within', 'iPad-horizontal') {
        max-width: 232px;
    }

    &__title {
        @include f-Lato-Regular;
        text-align: center;
        font-weight: 18px;
        font-size: 16px;
    }

    &__image {
        width: 140px;
        height: 120px;
    }

    &__view-btn {
        background-color: $c-brand-yellow;
        border-radius: $c-border-small*4;
        border: 1px solid $c-white;
        @include f-Lato-SemiBold;
        color: $c-main-gray;
        padding: 10px 16px;
        width: fit-content;
        cursor: pointer;
    }

    &__view-btn:hover {
        border-color: $c-main-gray;
    }


}

.top-categories-swiper {
    margin-top: 20px;
}