* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.App {
    overflow: hidden;
}

body {
    background-color: $c-background;
    @include f-Lato-Regular;
    overflow-x: hidden;
    min-height: 100vh;
    color: $c-text;
    height: 100%;
}

#root {
    min-height: 100vh;
    height: 100%;
}

.App {
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}

.main-content {
    flex: 1 0 auto
}

img {
    width: 100%;
}

svg {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: $c-main-gray;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1700px;
    padding: 0 50px;
    margin: 0 auto;
    width: 100%;

    @include media('max', 'iPad-horizontal') {
        padding: 0 10px;
    }
}


// Main styles 

.title {

    font: {
        size: 24px;
        weight: 400;
    }

}

.opacity {
    background: linear-gradient(0deg, #F8F8F8 0%, #F8F8F8 25.31%, rgba(248, 248, 248, 0.9) 40.42%, rgba(248, 248, 248, 0.6) 74.79%, rgba(248, 248, 248, 0) 100%);
    position: absolute;
    width: 100%;
    z-index: 3;
    bottom: 0;
}

.arrow {
    border-right: 1px solid $c-black;
    border-top: 1px solid $c-black;
    transform: rotate(45deg);
    transition: .5s;
    cursor: pointer;
    display: block;
    height: 7px;
    width: 7px;
}