//Main product list style 

.product-list {
    margin: 20px auto;

    //! Filter-line styles

    &__filter-line {
        flex-wrap: nowrap;
        margin-top: 24px;
        display: flex;
        gap: 8px;
    }

    &__filter-line-title {
        white-space: nowrap;
    }

    &__filter-line-item {
        border: 1px solid $c-white;
        justify-content: center;
        background: $c-white;
        align-items: center;
        border-radius: 20px;
        width: fit-content;
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        height: 27px;

        @include media('max', 'iPad-horizontal') {
            font-size: 12px;
        }

        &:hover {
            border: 1px solid $c-main-gray;
            background: $c-brand-yellow;
        }
    }

    &__filter-line-input {
        display: none;
    }

}


.product-card-list {
    justify-content: space-between;
    position: relative;
    pointer-events: all;
    overflow: hidden;
    margin-top: 10px;
    transition: 1s;
    flex-wrap: wrap;
    display: flex;
    height: 570px;
    gap: 5px;

    // Create opacity block

    &__opacity-block {
        height: 160px;
    }

    &__opacity-block:hover {
        opacity: 0;
        height: 0;
    }


    &__btn {
        background: $c-brand-yellow;
        border: 1px solid $c-background;
        justify-content: center;
        border-radius: 20px;
        align-items: center;
        flex-wrap: nowrap;
        margin: 20px auto 0;
        display: flex;
        width: 134px;
        height: 37px;
    }

    &__btn:hover {
        border-color: $c-main-gray;
    }
}


.product-card-list-row {
    @extend .product-card-list;
    height: 360px;

}

.product-card-list-row .change-height {
    height: 570px;
}


// Main card style

.product-card {
    border-radius: $c-border-small;
    background-color: $c-white;
    box-shadow: $box-shadow;
    position: relative;
    min-height: 328px;
    font-size: 12px;
    color: $c-text;
    padding: 10px;
    width: 262px;

    @include media('min', 'fullHd') {
        width: 232px;
    }

    @include media('within', 'fullHd') {
        width: 245px;
    }

    @include media('within', 'iPad-horizontal') {
        width: 236px;
    }

    @include media('within', 'hd') {
        width: 247px;
    }

    @include media('within', 'iPad') {
        width: 260px;
    }

    @include media('within', 'mobile-horizontal') {
        width: 175px;
    }


    @include media('max', 'mobile') {
        width: 175px;
    }

    &__wrapper {
        position: relative;
    }

    // Promo phrases style
    &__promo {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__picture {
        padding-top: 10px;
        height: 100%;
    }

    // The good's color panel styles

    &__colors-panel {
        flex-direction: column;
        position: absolute;
        display: flex;
        right: 0px;
        gap: 7px;
        top: 0px;

        @include media ('max', 'mobile-horizontal') {
            right: -5px;
            top: -3px;
            gap: 4px;
        }

    }

    &__colors-panel-item {
        border: 1px solid $c-white;
        background-color: $c-white;
        position: relative;
        height: 16px;
        width: 16px;
    }

    &__colors-panel-item:hover {
        border: 1px solid $c-text;
    }

    &__active-color {
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    &__color {
        // background задаем динамично - це кольори продукта 
        background-color: black;
        position: absolute;
        height: 12px;
        width: 12px;
        left: 1px;
        top: 1px;
    }

    // Styles of avaliable and cashback fields

    &__info {
        justify-content: space-between;
        color: $c-light-gray;
        display: flex;
    }

    &__availiable {
        align-items: center;
        display: flex;
        gap: 8px;

        &-item {
            white-space: nowrap;
        }
    }

    &__cashback-sum {
        justify-content: center;
        align-items: stretch;
        display: flex;
        gap: 2px;
    }

    &__cashback {
        align-items: center;
        display: flex;
        gap: 6px;

        @include media(max, 'mobile-horizontal') {
            display: none;
        }


    }

    // Style of good name position

    &__goodname {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        line-height: 18px;
        margin-top: 5px;
        overflow: hidden;
    }

    // Style of star-rating & review fields
    &__clients-mark {
        align-items: center;
        display: flex;
        gap: 10px;
    }

    &__rating {
        align-items: baseline;
        display: flex;
        gap: 4px;
    }

    &__rating-value {
        color: $c-light-gray;
        width: 18px;
    }

    // Styles of 'get favorite' & 'let's compare' items
    &__step-to-buy {
        align-items: center;
        display: flex;
        gap: 20px;

        @include media ('max', 'mobile-horizontal') {
            display: none;
        }

    }

    &__compare {
        position: relative;
    }

    &__compare-input,
    &__likes-input {
        display: none;
    }

    &__likes:checked svg {
        fill: $c-red;
    }

    // Price fields styles

    &__price {
        flex-direction: column;
        display: flex;
    }

    &__price-value {
        align-items: center;
        display: flex;
        gap: 7px;
    }

    &__price-old {
        text-decoration: line-through;
        color: $c-light-gray;
        font-size: 12px;
        padding: 2px 0;

        @include media ('max', 'mobile-horizontal') {
            font-size: 10px;
        }
    }

    &__benefit {
        border-radius: $c-border-small*2;
        background-color: $c-red;
        align-items: center;
        width: fit-content;
        flex-wrap: nowrap;
        color: $c-white;
        display: flex;
        height: 13px;
        padding: 2px;

        @include media ('max', 'mobile-horizontal') {
            font-size: 10px;
        }
    }

    &__price-new-value {
        @include f-Lato-Bold;
        font-size: 16px;
    }


    // Card hide part slyles

    &__hide-list {
        flex-direction: column;
        line-height: 21px;
        font-size: 14px;
        display: flex;
        gap: 5px;
    }

    &__hide-list-item-value {
        color: $c-light-gray;
    }

}


// Promo phrases style
.top,
.sale {
    border-radius: $c-border-small;
    justify-content: center;
    align-items: center;
    width: fit-content;
    flex-wrap: nowrap;
    padding: 3px 5px;
    display: flex;
    height: 20px;
}

.top {
    background-color: $c-brand-yellow;
}

.sale {
    background-color: $c-red;
    margin-top: 8px;
    color: $c-text;
}

.none {
    display: none;
}


// Style of star-rating & review fields

.clients-mark {
    justify-content: space-between;
    margin-top: 7px;
    display: flex;
}


// Styles of 'get favorite' & 'let's compare' items

.likes svg:hover {
    fill: $c-red;
}

.likes-color svg {
    fill: $c-red;
}

.success {
    position: absolute;
    height: 12px;
    width: 12px;
    z-index: 1;
    top: -2px;
    right: 0;
}

//! Select field style 

.product-card__pay-ways-list {
    border: solid 1px $c-brand-yellow;
    padding: 8px 10px 8px 10px;
    box-shadow: $box-shadow;
    border-radius: 20px;
    appearance: none;
    display: block;
    outline: none;
    height: 30px;
    width: 194px;
}

// Bottom part of card

.bottom-part {
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
    flex-wrap: wrap;
    display: flex;
}

.main-info-part {
    margin-top: 20px;
}

.pay-ways-block {
    position: absolute;
    margin-top: 12px;
    z-index: 5;
}


// Basket button styles

.product-card__basket-btn {
    background-color: $c-brand-yellow;
    border-radius: $c-border-small*4;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    flex-wrap: nowrap;
    cursor: pointer;
    display: flex;
    border: none;
    width: 104px;
    height: 36px;

    @include media ('max', 'mobile-horizontal') {
        width: 54px;
    }

}

.product-card__basket-btn:hover svg {
    fill: $c-black;
}

.product-card__basket-icon {
    position: relative;
    height: 26px;
    width: 26px;
}

.product-card__basket-title {
    margin-left: 6px;

    @include media ('max', 'mobile-horizontal') {
        display: none;
    }
}

.in-basket {
    background-color: $c-white;
}

// Hide part styles

.hide-part {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 1px solid white;
    background-color: $c-white;
    box-shadow: $box-shadow;
    transition: transform 1s;
    position: absolute;
    margin-top: 10px;
    padding: 10px;
    display: none;
    width: 262px;
    left: 0px;
    z-index: 10;
    top: 320px;

    @include media('within', 'fullHd') {
        width: 245px;
    }

    @include media('within', 'iPad-horizontal') {
        width: 236px;
    }

    @include media (min, 'fullHd') {
        width: 232px;
    }
}



.product-card__goodname:hover {
    text-decoration: underline;
}

.open-part {
    @extend .hide-part;

    @include media('min', 'hd') {
        border-top: 1px solid $c-extra-gray;
        display: block;
    }
}

.hide-part--row {
    @extend .hide-part;
}

.product-card:hover .hide-part--row {
    display: none;
}

// Hovers

.review:hover svg {
    fill: $c-green;
}


// Helpers

.h-height {
    height: auto;
}

.h-small-version {
    display: none;

    @include media(max, 'mobile-horizontal') {
        display: flex;
    }
}

.h-small-version-cashback {

    @include media(max, 'mobile-horizontal') {
        flex-direction: column;
        align-items: center;
        display: flex;
    }
}

.head__part {
    height: 110px;
}

// modal window styles 

.sorry-modal {
    height: fit-content;
    margin: 40px auto 0;
    width: fit-content;
    border-radius: 4px;
    padding: 16px;

}