// Modal w styles

.add-to-cart-modal {
    border-radius: $c-border-small;
    background: #f8f8f8;
    margin: 40px auto 0;
    height: fit-content;
    display: block;
    padding: 16px;
    width: 990px;

    @include media (max, 'iPad') {
        width: 300px;
        margin: 20px auto 0;

    }

    &--display {
        display: none;
    }

    &__head-part {
        border-bottom: 1px solid $c-extra-gray;
    }

    &__row {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
        display: flex;
        width: 100%;

        @include media (max, 'iPad') {
            flex-direction: column;

        }
    }

    &__img-block {
        margin: 0 auto;
        height: 150px;
        width: 25%;
    }

    &__buy-block {
        width: 75%;

        @include media (max, 'iPad') {
            width: 100%;

        }
    }

    &__text {
        @include f-Lato-Regular;
        padding-top: 16px;
        line-height: 21px;
        font-size: 14px;

        &:first-child {
            padding-top: 0;
        }

        &_bold {
            @include f-Lato-Bold;
        }
    }

    &__footer {
        justify-content: space-between;
        align-items: baseline;
        display: flex;
        width: 100%;

        @include media (max, 'iPad') {
            align-items: center;
            flex-direction: column;
        }

    }

    &__link {
        border-bottom: 1px solid $c-link;
        padding-top: 24px;
        font-size: 14px;

        a {
            color: $c-link;
        }
    }

    &__buttons {
        justify-content: space-between;
        align-items: center;
        display: flex;
        gap: 16px;

        @include media (max, 'iPad') {
            flex-direction: column;
            padding-top: 6px;
            width: 100%;
        }
    }

    &__credit-btn,
    &__buy-btn {
        border-radius: $c-border-large;
        box-shadow: $box-shadow;
        justify-content: center;
        align-items: center;
        padding: 12px 0;
        font-size: 20px;
        display: flex;
        width: 274px;
    }

    &__credit-btn {
        border: 1px solid $c-extra-gray;
        background-color: $c-white;
    }

    &__buy-btn {
        background-color: $c-brand-yellow;
        @include f-Lato-Bold;
        border: none;
    }

}

.add-to-cart__list {
    margin-top: 24px;
    padding: 0;
}

.add-to-cart-arrow {
    border-top: 1px solid $c-main-gray;
}