@font-face {
  font-family: 'Lato';
  src: url("./assets/fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("./assets/fonts/Lato/lato-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("./assets/fonts/Lato/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("./assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  overflow: hidden;
}

body {
  background-color: #f8f8f8e6;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  min-height: 100vh;
}

img {
  width: 100%;
}

svg {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #404040;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1700px;
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (max-width: 1366px) {
  .container {
    padding: 0 10px;
  }
}

.title {
  font-size: 24px;
  font-weight: 400;
}

.opacity {
  background: -webkit-gradient(linear, left bottom, left top, from(#F8F8F8), color-stop(25.31%, #F8F8F8), color-stop(40.42%, rgba(248, 248, 248, 0.9)), color-stop(74.79%, rgba(248, 248, 248, 0.6)), to(rgba(248, 248, 248, 0)));
  background: linear-gradient(0deg, #F8F8F8 0%, #F8F8F8 25.31%, rgba(248, 248, 248, 0.9) 40.42%, rgba(248, 248, 248, 0.6) 74.79%, rgba(248, 248, 248, 0) 100%);
  position: absolute;
  width: 1600px;
  z-index: 3;
  bottom: 0;
}

.arrow {
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  display: block;
  height: 7px;
  width: 7px;
}

.header__burger {
  display: block;
  position: absolute;
  right: 20px;
}

.burger {
  background: content-box;
  pointer-events: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  opacity: 1;
}

.burger__event {
  pointer-events: none;
  opacity: 0;
}

.burger:hover span {
  background-color: #F9E505;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger span {
  background-color: #F9E505;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 3px;
  width: 22px;
  height: 2px;
}

.burger span:last-child {
  margin-bottom: 0;
}

.header {
  background-color: #404040;
}

.header__icon-personal, .header__icon-likes, .header__icon-compare, .header__icon-contacts, .header__icon-basket {
  border-right: 1px solid #F9E505;
  color: #F9E505;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  gap: 7px;
}

.header__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 84px;
}

@media only screen and (max-width: 1366px) {
  .header__wrapper {
    padding: 0;
  }
}

.header__icon-catalog {
  height: 22px;
  width: 22px;
}

.header__icon-audio {
  position: absolute;
  right: 100px;
}

.header__icon-listen {
  border: 1px solid #F9E505;
  position: absolute;
  border-radius: 50%;
  right: 100px;
}

.header__icon-search {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 18px;
}

@media only screen and (max-width: 1024px) {
  .header__icon-personal, .header__icon-likes, .header__icon-compare, .header__icon-contacts {
    display: none;
  }
}

.dictaphone-btn {
  position: absolute;
  cursor: pointer;
  height: 100%;
  right: 100px;
  width: 20px;
  opacity: 0;
}

.logo {
  margin: 0 40px;
  display: none;
  width: 138px;
  height: 44px;
}

@media only screen and (min-width: 1280px) {
  .logo {
    display: block;
  }
}

.catalog {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

@media only screen and (min-width: 1280px) {
  .catalog {
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1920px) {
  .catalog {
    margin-right: 0px;
  }
}

.catalog__href {
  color: #F9E505;
  padding-left: 9px;
  font-size: 14px;
}

.search-field {
  background-color: #FFFFFF;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 764px;
  height: 36px;
}

@media only screen and (max-width: 1366px) {
  .search-field {
    margin: 0 auto;
  }
}

.search-field__input {
  border-radius: 20px;
  margin-left: 48px;
  padding: 10px 0;
  outline: none;
  border: none;
  height: 100%;
}

@media (min-width: 1366px) and (max-width: 1919px) {
  .search-field__input {
    width: 526px;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .search-field__input {
    width: 375px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .search-field__input {
    width: 637px;
  }
}

@media (min-width: 812px) and (max-width: 1023px) {
  .search-field__input {
    width: 642px;
  }
}

@media only screen and (max-width: 812px) {
  .search-field__input {
    width: 205px;
  }
}

.search-field__btn {
  background-color: #F9E505;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  cursor: pointer;
  height: 100%;
  border: none;
  width: 79px;
  right: 0;
}

.help-army {
  text-align: center;
}

@media only screen and (max-width: 1366px) {
  .help-army {
    display: none;
  }
}

.help-army__text {
  color: #F9E505;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-left: 18px;
  font-size: 14px;
  padding: 0 5px;
}

.help-army__href {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-block div:last-child {
  border: none;
}

.modal-catalog {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 404px;
  margin-top: 100px;
  width: 1250px;
}

.modal {
  background-color: rgba(31, 31, 36, 0.2);
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  opacity: 0;
  left: 0;
  top: 0;
}

.modal.active {
  pointer-events: all;
  opacity: 1;
}

.modal__content {
  background-color: #FFFFFF;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  width: 50vw;
}

.modal__content.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.goods-presentation-block__catalog {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin-right: 16px;
  display: block;
  height: 465px;
}

@media only screen and (max-width: 1024px) {
  .goods-presentation-block__catalog {
    display: none;
  }
}

.goods-presentation-block__catalog-menu {
  padding: 16px 16px 8px 18px;
  background-color: #FFFFFF;
  border-radius: 5px;
  position: initial;
  min-height: 465px;
  color: #2B2A29;
  width: 348px;
  z-index: 1;
}

.goods-presentation-block__menu__item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 24px;
  cursor: pointer;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goods-presentation-block__menu__item:hover {
  text-decoration: underline;
}

.goods-presentation-block__menu__item svg {
  height: 22px;
  width: 22px;
}

.goods-presentation-block__menu__item .goods-presentation-block__menu-category-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.catalog-menu__arrow-down {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  position: absolute;
  display: block;
  bottom: 8px;
  left: 50%;
}

.catalog-menu__arrow-up {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0 auto;
  display: block;
}

.goods-presentation-block {
  margin-top: 16px;
}

.goods-presentation-block__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper {
  max-width: 1600px;
}

@media screen and (max-width: 375px) {
  .swiper {
    max-width: 375px;
  }
}

.swiper-slide {
  width: 270px;
}

@media only screen and (max-width: 1024px) {
  .swiper-slide {
    width: 296px;
  }
}

.swiper-card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 16px;
  border-radius: 5px;
  min-height: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .swiper-card {
    min-height: 377px;
  }
}

.swiper-card__img {
  margin: 0 auto;
  height: 170px;
  width: 170px;
}

@media only screen and (max-width: 1024px) {
  .swiper-card__img {
    height: 115px;
    width: 115px;
  }
}

.swiper-pagination {
  margin-top: 16px;
  position: static !important;
}

.swiper-pagination-bullet-active {
  background-color: #F9E505 !important;
}

.details-btn {
  background-color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 41px;
}

.details-btn__yellow {
  -webkit-box-shadow: 9px 4px 2px 1px #F9E505;
          box-shadow: 9px 4px 2px 1px #F9E505;
}

.details-btn__blue {
  -webkit-box-shadow: 9px 4px 2px 1px #3D03F2;
          box-shadow: 9px 4px 2px 1px #3D03F2;
}

.details-btn__green {
  -webkit-box-shadow: 9px 4px 2px 1px #05B263;
          box-shadow: 9px 4px 2px 1px #05B263;
}

.details-btn__description {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  white-space: nowrap;
  padding: 10px 16px;
  font-size: 16px;
  color: #2B2A29;
}

.product-list {
  margin-top: 20px;
}

.product-list__filter-line {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.product-list__filter-line-title {
  white-space: nowrap;
}

.product-list__filter-line-item {
  border: 1px solid #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 27px;
}

@media only screen and (max-width: 1366px) {
  .product-list__filter-line-item {
    font-size: 12px;
  }
}

.product-list__filter-line-item:hover {
  border: 1px solid #404040;
  background: #F9E505;
}

.product-list__filter-line-input {
  display: none;
}

.product-card-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 570px;
  gap: 5px;
}

.product-card-list__opacity-block {
  height: 160px;
}

.product-card-list__opacity-block:hover {
  background: none;
}

.product-card-list__btn {
  background: #F9E505;
  border: 1px solid #f8f8f8e6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 134px;
  height: 37px;
}

.product-card-list__btn:hover {
  border-color: #404040;
}

.product-card {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px #1f1f240d;
          box-shadow: 0px 4px 4px #1f1f240d;
  position: relative;
  border-radius: 5px;
  min-height: 328px;
  font-size: 12px;
  color: #2B2A29;
  padding: 10px;
  width: 262px;
}

@media only screen and (min-width: 1920px) {
  .product-card {
    width: 232px;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) {
  .product-card {
    width: 245px;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .product-card {
    width: 236px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .product-card {
    width: 247px;
  }
}

@media (min-width: 812px) and (max-width: 1023px) {
  .product-card {
    width: 260px;
  }
}

@media (min-width: 375px) and (max-width: 811px) {
  .product-card {
    width: 175px;
  }
}

@media only screen and (max-width: 375px) {
  .product-card {
    width: 175px;
  }
}

.product-card__wrapper {
  position: relative;
}

.product-card__promo {
  position: absolute;
  left: 0;
  top: 0;
}

.product-card__picture {
  padding-top: 10px;
  max-width: 163px;
  margin: 0 auto;
}

@media only screen and (max-width: 812px) {
  .product-card__picture {
    max-width: 119px;
  }
}

.product-card__colors-panel {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0px;
  gap: 7px;
  top: 0px;
}

@media only screen and (max-width: 812px) {
  .product-card__colors-panel {
    right: -5px;
    gap: 4px;
    top: -3px;
  }
}

.product-card__colors-panel-item {
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  position: relative;
  height: 16px;
  width: 16px;
}

.product-card__colors-panel-item:hover {
  border: 1px solid #2B2A29;
}

.product-card__active-color {
  height: 100%;
  width: 100%;
  opacity: 0;
}

.product-card__color {
  background-color: black;
  position: absolute;
  height: 12px;
  width: 12px;
  left: 1px;
  top: 1px;
}

.product-card__info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #9E9E9E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-card__availiable {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.product-card__cashback-sum {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
}

.product-card__cashback {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}

@media only screen and (max-width: 812px) {
  .product-card__cashback {
    display: none;
  }
}

.product-card__goodname {
  line-height: 18px;
  margin-top: 5px;
}

.product-card__clients-mark {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.product-card__rating {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.product-card__rating-value {
  color: #9E9E9E;
  width: 18px;
}

.product-card__step-to-buy {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 812px) {
  .product-card__step-to-buy {
    display: none;
  }
}

.product-card__compare {
  position: relative;
}

.product-card__compare-input, .product-card__likes-input {
  display: none;
}

.product-card__likes:checked svg {
  fill: #F54503;
}

.product-card__price {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-card__price-value {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.product-card__price-old {
  text-decoration: line-through;
  color: #9E9E9E;
  font-size: 12px;
  padding: 2px 0;
}

@media only screen and (max-width: 812px) {
  .product-card__price-old {
    font-size: 10px;
  }
}

.product-card__benefit {
  background-color: #F54503;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 13px;
  padding: 2px;
}

@media only screen and (max-width: 812px) {
  .product-card__benefit {
    font-size: 10px;
  }
}

.product-card__price-new-value {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.product-card__hide-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 21px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.product-card__hide-list-item-value {
  color: #9E9E9E;
}

.top,
.sale {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 3px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
}

.top {
  background-color: #F9E505;
}

.sale {
  background-color: #F54503;
  margin-top: 8px;
  color: #FFFFFF;
}

.clients-mark {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.likes svg:hover {
  fill: #F54503;
}

.likes-color svg {
  fill: #F54503;
}

.success {
  position: absolute;
  height: 12px;
  width: 12px;
  z-index: 1;
  top: -2px;
  right: 0;
}

.product-card__pay-ways-list {
  border: solid 1px #F9E505;
  padding: 8px 10px 8px 10px;
  -webkit-box-shadow: 0px 4px 4px #1f1f240d;
          box-shadow: 0px 4px 4px #1f1f240d;
  border-radius: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  outline: none;
  height: 30px;
  width: 194px;
}

.bottom-part {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 52px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-info-part {
  margin-top: 20px;
}

.pay-ways-block {
  position: absolute;
  margin-top: 12px;
  z-index: 2;
}

.product-card__basket-btn {
  background-color: #F9E505;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  padding: 6px 10px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 104px;
  height: 36px;
}

@media only screen and (max-width: 812px) {
  .product-card__basket-btn {
    width: 54px;
  }
}

.product-card__basket-btn:hover svg {
  fill: #000000;
}

.product-card__basket-icon {
  position: relative;
  height: 26px;
  width: 26px;
}

.product-card__basket-title {
  margin-left: 6px;
}

@media only screen and (max-width: 812px) {
  .product-card__basket-title {
    display: none;
  }
}

.in-basket {
  background-color: #FFFFFF;
}

.hide-part {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid white;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px #1f1f240d;
          box-shadow: 0px 4px 4px #1f1f240d;
  position: absolute;
  margin-top: 10px;
  padding: 10px;
  display: none;
  width: 262px;
  left: -10px;
  z-index: 1;
  top: 308px;
}

@media (min-width: 1366px) and (max-width: 1919px) {
  .hide-part {
    width: 245px;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .hide-part {
    width: 236px;
  }
}

@media only screen and (min-width: 1280px) {
  .product-card__goodname:hover ~ .hide-part {
    border-top: 1px solid #F2F2F2;
    display: block;
  }
}

.product-card__goodname:hover {
  text-decoration: underline;
}

.review:hover svg {
  fill: #05B263;
}

.h-height {
  height: auto;
}

.h-small-version {
  display: none;
}

@media only screen and (max-width: 812px) {
  .h-small-version {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 812px) {
  .h-small-version-cashback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.select {
  border: 1px solid #F9E505;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px #1f1f240d;
          box-shadow: 0px 4px 4px #1f1f240d;
  border-radius: 20px;
  position: relative;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 10px;
  height: 30px;
  width: 194px;
}

@media only screen and (max-width: 812px) {
  .select {
    width: 160px;
  }
}

.select__input {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  width: 100%;
}

@media only screen and (max-width: 812px) {
  .select__input {
    font-size: 10px;
  }
}

.select__btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 10px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 100%;
}

.select__discription {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.select__discription:hover {
  background: #F2F2F2;
  border-radius: 20px;
}

.select__item-description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.select__item-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.select__item-value {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.select__item-input {
  display: none;
}

.select__hidden-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 10px;
  display: none;
  gap: 16px;
}

.arrow-down {
  position: absolute;
  right: 10px;
  top: 5px;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active-select {
  height: 177px;
  border: none;
  border-bottom: 1px solid #F2F2F2;
}

.brand-block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand-block__logo-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
}

@media only screen and (max-width: 1366px) {
  .brand-block__logo-list {
    gap: 8px;
  }
}

@media only screen and (max-width: 812px) {
  .brand-block__logo-list {
    gap: 5px;
  }
}

.brand-block__logo-btn {
  background-color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
}

@media only screen and (max-width: 1920px) {
  .brand-block__logo-btn {
    height: 46px;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .brand-block__logo-btn {
    height: 64px;
  }
}

.brand-block__logo-btn:hover {
  -webkit-box-shadow: 0px 4px 4px #1f1f240d;
          box-shadow: 0px 4px 4px #1f1f240d;
}

.brand-block__title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.brand-block__logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 163px;
}

@media (min-width: 1366px) and (max-width: 1919px) {
  .brand-block__logo {
    width: 131px;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .brand-block__logo {
    width: 127px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .brand-block__logo {
    width: 104px;
  }
}

@media (min-width: 812px) and (max-width: 1023px) {
  .brand-block__logo {
    width: 99px;
  }
}

@media (min-width: 375px) and (max-width: 811px) {
  .brand-block__logo {
    width: 99px;
  }
}

.brand-block__logo img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 30px;
  display: block;
  height: auto;
}

@media only screen and (max-width: 1366px) {
  .brand-block__logo img {
    max-height: 22px;
  }
}

.brand-block__see-all-btn {
  background-color: #F9E505;
  border: 1px solid #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
}

@media only screen and (max-width: 1920px) {
  .brand-block__see-all-btn {
    height: 46px;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .brand-block__see-all-btn {
    height: 64px;
  }
}

.brand-block__see-all-btn:hover {
  border-color: #404040;
}

.brand-block__see-all-text {
  white-space: nowrap;
  text-align: center;
}

.top-categories-block {
  position: relative;
}

.top-categories-block__header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-categories-block__all-view-btn {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

@media only screen and (max-width: 1024px) {
  .top-categories-block__all-view-btn {
    display: none;
  }
}

.top-categories-block__opacity-block {
  background: linear-gradient(271.62deg, #F8F8F8 1.38%, #F8F8F8 40.88%, rgba(248, 248, 248, 0.9) 64.69%, rgba(248, 248, 248, 0.5) 83.43%, rgba(248, 248, 248, 0) 98.62%);
  position: absolute;
  height: 300px;
  width: 200px;
  z-index: 1;
  top: 30px;
  right: 0;
}

@media only screen and (max-width: 1024px) {
  .top-categories-block__opacity-block {
    display: none;
  }
}

.top-card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 4px #1f1f240d;
          box-shadow: 0px 4px 4px #1f1f240d;
  background: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 24px 26px;
  max-width: 262px;
  height: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .top-card {
    max-width: 224px;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .top-card {
    max-width: 232px;
  }
}

.top-card__title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  font-weight: 18px;
  font-size: 16px;
}

.top-card__image {
  max-width: 140px;
  height: 120px;
}

.top-card__view-btn {
  background-color: #F9E505;
  border: 1px solid #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #404040;
  border-radius: 20px;
  padding: 10px 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.top-card__view-btn:hover {
  border-color: #404040;
}

.video-slide {
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  max-width: 323px;
  height: 249px;
}

.video-slide:hover {
  -webkit-box-shadow: 0px 4px 4px #1f1f240d;
          box-shadow: 0px 4px 4px #1f1f240d;
}

.video-slide__content {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.video-slide__title {
  line-height: 17px;
  margin-top: 16px;
  padding: 0 10px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits-block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.benefits-block__items {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 160px;
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .benefits-block__items {
    gap: 80px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .benefits-block__items {
    gap: 40px;
  }
}

@media (min-width: 812px) and (max-width: 1023px) {
  .benefits-block__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 84px;
  }
}

@media (min-width: 375px) and (max-width: 811px) {
  .benefits-block__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media only screen and (max-width: 812px) {
  .benefits-block__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 23px;
  }
}

.benefits-block__item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
}

.benefits-block__item-title {
  text-align: center;
}

.subscription-block {
  background-color: #F9E505;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  padding: 36px 0;
}

.subscription-block__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 375px) and (max-width: 811px) {
  .subscription-block__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .subscription-block__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

.subscription-block__description-part {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.subscription-block__title {
  max-width: 245px;
}

.subscription-block__call-to-action {
  max-width: 444px;
}

.subscription-block__form-part {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.subscription-block__form-fields {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

@media only screen and (max-width: 1024px) {
  .subscription-block__form-fields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.subscription-block__form-fields input,
.subscription-block__form-fields button {
  -webkit-box-shadow: 0px 4px 4px #1f1f240d;
          box-shadow: 0px 4px 4px #1f1f240d;
  border-radius: 20px;
  padding: 8px 16px;
  outline: none;
  border: none;
  height: 37px;
}

@media only screen and (max-width: 1024px) {
  .subscription-block__form-fields input,
  .subscription-block__form-fields button {
    max-width: 198px;
  }
}

.subscription-block__form-fields button {
  background-color: #404040;
  cursor: pointer;
  font-size: 16px;
  color: #FFFFFF;
}

@media only screen and (max-width: 1024px) {
  .subscription-block__form-fields button {
    width: 198px;
  }
}

.subscription-block__logo-part {
  position: relative;
  bottom: 10px;
  height: 168px;
  width: 240px;
}

@media (min-width: 375px) and (max-width: 811px) {
  .subscription-block__logo-part {
    position: absolute;
    width: 150px;
  }
}

@media only screen and (max-width: 375px) {
  .subscription-block__logo-part {
    position: absolute;
    bottom: 22px;
    width: 150px;
  }
}

.subscription-block__confidential-policy-href {
  text-decoration: none;
  color: #404040;
  text-align: end;
  font-size: 12px;
}

@media only screen and (max-width: 1024px) {
  .subscription-block__confidential-policy-href {
    width: 198px;
  }
}

.subscription-block__confidential-policy-href_underline {
  text-decoration: underline;
}

.shop-history-block {
  position: relative;
  margin: 23px auto 0;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  height: 150px;
}

.shop-history-block__description {
  text-align: justify;
  line-height: 18px;
  padding-top: 16px;
  font-size: 14px;
  display: block;
}

.shop-history-block__opacity-block {
  height: 126px;
}

.shop-history-block__arrow-item {
  border-right: 3px solid #F9E505;
  border-top: 3px solid #F9E505;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  height: 22px;
  bottom: 20px;
  width: 22px;
  z-index: 4;
  left: 50%;
}

.open-text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 23px;
  overflow: visible;
}

.replace-arrow {
  bottom: -16px;
}

.footer {
  background-color: #404040;
  padding: 40px 0 16px 0;
  color: #FFFFFF;
}

.footer__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 302px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .footer__wrapper {
    gap: 32px;
  }
}

.footer__main-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .footer__main-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.footer__main-content-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

@media only screen and (max-width: 1024px) {
  .footer__main-content-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__main-content-list a {
  color: #FFFFFF;
}

.footer__main-content-list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer__main-content-list-item:nth-child(2) {
  margin-top: 2px;
}

.footer__main-content-list-item:first-child {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.footer__main-content-list-item-pic {
  width: 108px;
}

@media only screen and (max-width: 812px) {
  .footer__main-content-list-item-pic {
    margin: 0 auto;
  }
}

.footer__main-content-list-item_flex {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.footer__sub-content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.social-media {
  border-radius: 5px;
  display: block;
  height: 24px;
  width: 24px;
}

.hidden-part {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .hidden-part {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .visible-part {
    display: none;
  }
}

.burger__arrow-btn {
  border-top: 1px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  display: block;
  height: 12px;
  width: 12px;
}

.burger__arrow-btn_left {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  right: 8px;
}

.burger__list-header {
  background-color: #404040;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 78px;
}

.burger__list-item-epmty {
  border-top: 1px solid #F2F2F2;
  display: block;
  width: 100%;
  height: 1px;
}

.burger__list-item_flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger__list-items {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.burger__list-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
}

.burger__list-item_language-eng {
  border-left: 1px solid #404040;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-left: 8px;
  display: block;
  height: 24px;
  width: 24px;
}

.burger__list-item_language-ua {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.burger-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
}

.burger-modal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  width: 348px;
  height: 100%;
}

.burger-modal::-webkit-scrollbar {
  width: 2px;
}

.burger-modal::-webkit-scrollbar-track {
  background-color: #F2F2F2;
}

.burger-modal::-webkit-scrollbar-thumb {
  background-color: #F9E505;
}

.call-back-modal {
  -webkit-transform: translate(10%, 50%);
          transform: translate(10%, 50%);
  padding: 20px 22px 24px 16px;
  border-radius: 5px;
  margin: 0 auto;
  height: 436px;
  width: 400px;
}

.call-back-form {
  width: 100%;
}

.call-back-form__title {
  font-size: 14px;
}

.call-back-form__contacts, .call-back-form__number-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.call-back-form__contacts {
  margin-top: 27px;
  gap: 16px;
}

.call-back-form__support {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
}

.call-back-form__number-list {
  gap: 8px;
}

.call-back-form__user-phone {
  border-top: 1px solid #F2F2F2;
  padding-top: 20px;
  margin-top: 16px;
}

.call-back-form__number-list-item {
  color: #9E9E9E;
  font-size: 14px;
}

.call-back-form__input {
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  margin-top: 12px;
  outline: none;
  padding: 8px;
  height: 37px;
  width: 100%;
}

.call-back-form__submit {
  background-color: #F2F2F2;
  border-radius: 20px;
  margin: 24px auto 0;
  display: block;
  height: 43px;
  width: 323px;
  border: none;
}

.call-back-form__submit_color {
  background-color: #F9E505;
}

.call-back-form__submit-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=index.css.map */