.extended-card {
    background: $c-white;
    font-size: 16px;

    &__clients-mark-title {
        text-align: end;
    }

    &__icon {
        justify-content: center;
        align-items: center;
        display: flex;

        & svg {
            height: 24px;
            width: 24px;
        }
    }

    &__header {
        border-bottom: 1px solid $c-extra-gray;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 16px;
        margin-top: 16px;
        display: flex;
    }

    &__path {
        justify-content: flex-start;
        align-items: center;
        display: flex;
        gap: 8px;

    }

    &__path-item:last-child {
        color: $c-light-gray;
    }

    &__path-circle {
        background: $c-text;
        border-radius: 50%;
        display: block;
        height: 3px;
        width: 3px;
    }

    &__header-content {
        justify-content: space-between;
        align-items: center;
        display: flex;

        @include media (max, 'iPad') {
            flex-direction: column;
            align-items: flex-start;
            padding: 16px 0;
            gap: 16px;
        }
    }

    &__title {
        font-size: 24px;

        @include media (max, 'iPad') {
            font-size: 20px;
        }
    }

    &__clients-mark {
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        display: flex;
        gap: 14px;

        @include media (max, 'hd') {
            align-items: flex-start;

        }
    }

    &__rating {
        justify-content: flex-end;
        white-space: nowrap;
        align-items: center;
        flex-wrap: wrap;
        display: flex;
        gap: 5px;

        @include media (max, 'hd') {
            align-items: flex-start;

        }

        &-value {
            white-space: nowrap;
        }

    }

    &__code {
        background-color: $c-extra-gray;
        border-radius: $c-border-small;
        text-align: center;
        margin-left: 8px;
        padding: 4px 2px;
    }

    &__menu-line {
        justify-content: flex-start;
        @include f-Lato-SemiBold;
        align-items: center;
        font-size: 16px;
        display: flex;
        gap: 32px;

        @include media (max, 'iPad') {
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 8px;
        }
    }

    &__menu-item {
        border-bottom: 3px solid $c-white;

        &:hover {
            border-bottom: 3px solid $c-brand-yellow;
        }
    }

    &__main-characteristic {
        margin-top: 32px;
        font-size: 16px;
    }

    &__main-characteristic-title {
        font-size: 24px;
    }

    &__main-characteristic-list {
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
        flex-wrap: wrap;
        height: 170px;
        display: flex;

        @include media (max, 'mobile-horizontal') {
            flex-direction: column;
            align-items: flex-start;
            height: fit-content;
            gap: 8px;
        }

    }

    &__main-characteristic-item {
        justify-content: flex-start;
        align-items: center;
        display: flex;
        width: 33%;
        gap: 10px;

        @include media (max, 'mobile-horizontal') {
            width: fit-content;
        }
    }

    &__text-part {
        flex-direction: column;
        display: flex;
        gap: 8px;

        & span:first-child {
            color: $c-light-gray;
        }
    }

    &__main-characteristic-all {
        text-decoration: underline;
        margin-top: 40px;
        display: block;
        color: $c-link;
    }


    &__main-part {
        justify-content: space-between;
        display: flex;

        @include media (max, 'hd') {
            flex-direction: column;
        }
    }

    &__main-part-block {
        width: 50%;

        @include media (max, 'hd') {
            width: 100%;
        }
    }

    &__sale-banner {
        background-color: $c-brand-yellow;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        position: relative;
        margin-top: 17px;
        overflow: hidden;
        padding: 0 55px;
        display: flex;
        height: 95px;

        @include media (max, 'mobile-horizontal') {
            padding: 0 10px;
        }

        & span:first-child {
            font-size: 16px;
        }

        & span:last-child {
            font-size: 12px;
        }

    }

    &__sale-banner-btn {
        border-radius: $c-border-large;
        background: $c-white;
        white-space: nowrap;
        width: fit-content;
        text-align: center;
        padding: 12px 40px;
        border: none;

    }

    &__sale-banner-text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 5px;
    }

    &__sale-banner-logo {
        position: relative;
        display: block;
        width: 95px;
        top: 20px;
        left: 0;

        @include media (max, 'mobile-horizontal') {
            display: none;
        }
    }

    &__product-info {
        border: 1px solid $c-extra-gray;
        border-radius: $c-border-small;
        align-items: center;
        margin-top: 16px;
        display: flex;

        @include media (max, 'mobile-horizontal') {
            align-items: flex-start;
            flex-direction: column;
            gap: 8px;
        }

    }

    &__product-info-column {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding: 8px 24px;
        gap: 16px;
    }

    &__product-info-part {
        border-right: 1px solid $c-extra-gray;
        flex-direction: column;
        margin: 8px 24px;
        display: flex;
        width: 50%;
        gap: 8px;

        @include media (max, 'mobile-horizontal') {
            margin: 8px;
            width: 100%;
        }

        &:last-of-type {
            border: none;
        }
    }

    &__color-border {
        border: 1px solid $c-white;
        border-radius: 4px;
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 32px;
        width: 32px;

        &.active-color {
            border: 1px solid $c-text;
        }
    }

    &__color-bg {
        border: 1px solid $c-extra-gray;
        border-radius: $c-border-small;
        margin: 0 auto;
        display: block;
        height: 24px;
        width: 24px;
    }

    &__product-input {
        display: none;
    }

    &__color-panel {
        justify-content: flex-start;
        align-items: center;
        margin-top: 8px;
        display: flex;
        gap: 5px;
    }

    &__color {
        width: 50%;
    }

    &__brand {
        flex-direction: column;
        display: flex;
        gap: 8px;
    }

    &__brand-info {
        align-items: center;
        display: flex;
        gap: 5px;
    }

    &__brand-logo {
        width: 50px;
        height: 30px;
    }

    &__memory-block,
    &__material-block {
        align-items: center;
        padding-right: 10px;
        display: flex;
        gap: 5px;
    }

    &__memory-panel,
    &__material {
        border: 1px solid $c-extra-gray;
        border-radius: $c-border-small;
        justify-content: center;
        align-items: center;
        padding: 5px 16px;
        width: fit-content;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        height: 37px;
    }

    &__memory-size-group {
        flex-direction: column;
        display: flex;
        gap: 8px;
    }

    &__memory-size-value {
        align-items: center;
        display: flex;
        gap: 5px;

        @include media (max, 'mobile-horizontal') {
            flex-wrap: wrap;
        }
    }

    //available field 
    &__available {
        @include media (max, 'mobile-horizontal') {
            margin: 0 auto;
        }
    }

    &__available-btn {
        justify-content: space-between;
        border-radius: $c-border-large;
        @include f-Lato-Bold;
        width: fit-content;
        padding: 8px 16px;
        display: flex;
        height: 40px;
        gap: 13px;
    }

    // Buy block

    &__buy-block {
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;
        flex-wrap: wrap;
        display: flex;
        width: 100%;


        @include media (max, 'mobile-horizontal') {
            justify-content: center;
            gap: 40px;
        }
    }

    &__buy-way {
        flex-direction: column;
        display: flex;
    }

    &__prices {
        justify-content: flex-start;
        align-items: center;
        display: flex;
    }

    &__price,
    &__credit-price {
        font-size: 32px;
    }

    &__old-price {
        text-decoration: line-through;
        margin-left: 24px;
        font-size: 24px;
    }

    &__benefit {
        border-radius: $c-border-small;
        background-color: $c-red;
        text-align: center;
        width: fit-content;
        margin-left: 10px;
        padding: 2px 4px;
        font-size: 14px;
        color: $c-white;
        height: 20px;
    }

    &__cashback {
        border-bottom: 1px dashed $c-green;
        margin: 14px auto 8px;
        text-align: center;
        display: block;
        color: $c-green;
        font-size: 14px;
    }

    &__credit-price {
        margin: 0 auto 40px;
    }


    // price btns list

    &__price-bnts-list {
        align-items: center;
        padding-top: 24px;
        font-size: 14px;
        display: flex;
        width: 100%;

        @include media (max, 'mobile-horizontal') {
            flex-wrap: wrap;
        }
    }

    &__price-bnt {
        border: none;
        border-right: 1px solid $c-extra-gray;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: none;
        display: flex;
        height: 97px;
        width: 25%;
        gap: 18px;

        @include media (max, 'mobile-horizontal') {
            width: 50%;
        }

        & span:last-child {
            border-bottom: 1px solid $c-text;
        }
    }

    //sales block 

    &__product-info--border {
        flex-direction: column;
        align-items: flex-start;
        border: none;
    }

    &__product-info-title {
        padding: 8px 24px;
    }

    &__sales-bnts-list {
        justify-content: space-between;
        display: flex;
        width: 100%;

        @include media (max, 'mobile-horizontal') {
            flex-wrap: wrap;
        }
    }

    &__sales-bnt {
        justify-content: space-between;
        border-radius: $c-border-small;
        box-shadow: $box-shadow;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        background: none;
        display: flex;
        height: 124px;
        border: none;
        width: 24%;

        @include media (max, 'mobile-horizontal') {
            width: 45%;
        }


        & span:first-child {
            @include f-Lato-Bold;
        }
    }

    &__sales-btn-sub-title {
        color: $c-light-gray;
        font-size: 12px;
        padding-left: 10px;
    }

    &__sales-btn-title {
        @include f-Lato-Bold;
    }

    // insurence 

    &__insurence-info,
    .delivery {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 8px 24px 16px;
        gap: 16px;
    }

    &__insurence-info-sub {
        font-size: 14px;
        color: $c-link;
    }

    &__insurence-group {
        justify-content: space-between;
        flex-direction: column;
        transition: height 1s;
        font-size: 14px;
        height: 120px;
        display: flex;
        width: 100%;
        gap: 16px;

        &--transition {
            height: 320px;
        }
    }


    &__insurence-list {
        justify-content: space-between;
        align-items: center;
        display: flex;
        width: 100%;
    }

    &__insurence-item {
        justify-content: flex-start;
        align-items: center;
        display: flex;
    }

    &__insurence-input {
        display: none;
    }

    &__insurence-title {
        padding: 0 10px 0 16px
    }

    &__insurence-price {
        @include f-Lato-SemiBold;
    }

    &__see-all {
        border: none;
        border-bottom: 1px solid $c-link;
        width: fit-content;
        padding-top: 25px;
        background: none;
        color: $c-link;
    }

    &__discription-part {
        justify-content: space-between;
        margin-top: 20px;
        display: flex;

        @include media (max, 'iPad') {
            flex-direction: column;
        }

    }

    //Payway block

    &__payway-list {
        align-items: center;
        flex-wrap: wrap;
        display: flex;
        gap: 16px;
    }

    &__payway-btn {
        border-radius: $c-border-large;
        background: $c-extra-gray;
        justify-content: center;
        align-items: center;
        width: fit-content;
        min-width: 60px;
        display: flex;
        height: 36px;
        padding: 8px;
        border: none;
    }

    &__payway-icon {
        padding-right: 7px;
        max-width: 100%;
    }

    //Garanty 

    &__garanty-title {
        padding-left: 7px;

        &--bold {
            @include f-Lato-SemiBold;
        }
    }
}

//Article styles
.article {
    background: $c-white;
    margin-top: 34px;

    &__title {
        padding-bottom: 112px;
        text-align: left;
        font-size: 32px;

        @include media (max, 'mobile-horizontal') {
            padding-bottom: 40px;
            font-size: 20px;
        }
    }

    &__wrapper {
        flex-direction: column;
        display: flex;
    }

    &__block {
        justify-content: space-between;
        margin-top: 20px;
        display: flex;
        width: 100%;

        &--row {
            flex-direction: row;
        }

        &--column {
            flex-direction: column;
        }
    }

    &__text-content {
        flex-direction: column;
        display: flex;
        width: 100%;

        &--align {
            justify-content: center;
            align-items: center;
        }

        &--direction {
            align-items: center;
            flex-direction: row;
            width: 100%;
        }

        &--width {
            width: 50%;
        }
    }

    &__content-title {
        font-size: 24px;

        @include media (max, 'mobile-horizontal') {
            font-size: 20px;
        }
    }

    &__sub-content {
        width: 50%;
    }

    &__content {
        padding-top: 32px;
        font-size: 16px;

        &--flex {
            flex: 1;
        }

        &--center {
            text-align: center;
            line-height: 21px;
            width: 70%;

            @include media (max, 'mobile-horizontal') {
                text-align: start;
            }
        }
    }

    &__photo-content {
        position: relative;
        width: 50%;
        gap: 80px;

        @include media (max, 'hd') {
            gap: 40px;
        }

        &-item {
            height: 300px;
            width: 100%;
        }

        &--width {
            flex-wrap: nowrap;
            margin-top: 40px;
            display: flex;
            width: 100%;
        }


    }

    &__photo-content-item-0 {
        width: 50%;
    }

    &__photo-content-item-1 {
        position: relative;
        z-index: 1;
        width: 50%;

        & img {
            position: absolute;
            width: 45%;
        }
    }

    &__photo-content-item-2 {
        position: absolute;
        width: 30%;
        bottom: 0;
        right: 0;
    }
}


//!Specifications Block style


.specifications {
    margin-bottom: 55px;
    width: 50%;

    @include media (max, 'iPad') {
        width: 100%
    }

    &__title {
        line-height: 36px;
        font-size: 24px;

        @include media (max, 'mobile-horizontal') {
            font-size: 20px;
        }
    }

    &__wrapper {
        justify-content: space-between;
        flex-direction: column;
        display: flex;
        gap: 18px;
    }

    &__list {
        justify-content: space-between;
        flex-direction: column;
        display: flex;
        gap: 24px;
    }

    &__items {
        justify-content: space-between;
        align-items: baseline;
        display: flex;
    }

    &__dots {
        border-bottom: 1px dotted #DEDEDE;
        flex: 1 0;
    }

    &__values {
        flex-direction: column;
        color: $c-link;
        display: flex;
        width: 30%;
        gap: 8px;
    }


}

//!Review Block style

.review {
    width: 50%;

    @include media (max, 'iPad') {
        width: 100%
    }


    &__wrapper {
        justify-content: space-between;
        flex-direction: column;
        display: flex;
        gap: 16px;


    }

    &__header {
        justify-content: space-between;
        align-items: center;
        display: flex;

        @include media (max, 'mobile-horizontal') {
            gap: 5px;
        }
    }

    &__btn {
        background-color: $c-brand-yellow;
        border-radius: $c-border-large;
        justify-content: center;
        @include f-Lato-Bold;
        align-items: center;
        padding: 12px 70px;
        flex-wrap: nowrap;
        height: 48px;
        display: flex;
        border: none;

        @include media (max, 'mobile-horizontal') {
            padding: 12px 30px;
        }
    }

    &__title {
        font-size: 24px;
        width: 30%;

        @include media (max, 'mobile-horizontal') {
            font-size: 20px;
        }
    }

    &__example {
        border: 1px solid $c-extra-gray;
        justify-content: space-between;
        border-radius: $c-border-small;
        flex-direction: column;
        padding: 16px 24px;
        display: flex;
        gap: 16px;
    }

    &__user-info {
        flex-direction: column;
        display: flex;
        gap: 8px;
    }

    &__user-name {
        font-size: 20px;
    }

    &__date {
        color: $c-light-gray;
        font-size: 14px;
    }

    &__text {
        line-height: 21px;
        font-size: 14px;
    }

    &__response {
        border: none;
        border-bottom: 1px solid $c-link;
        width: fit-content;
        background: none;
        color: $c-link;
    }
}


// Delivery styles

.delivery {


    &__wrapper {
        flex-direction: column;
        font-size: 14px;
        display: flex;
        width: 100%;
        gap: 16px;
    }

    &__title {
        font-size: 24px;

        @include media (max, 'mobile-horizontal') {
            font-size: 20px;
        }

    }

    &__methods {
        justify-content: space-between;
        flex-direction: column;
        display: flex;
        width: 100%;
        gap: 16px;
    }

    &__method {
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    &__method-delivery-term,
    &__method-delivery-price {
        flex: 1;
    }

    &__method-delivery-price {
        text-align: end;
    }

    &__method-name {
        flex: 2;
    }

    &__place-list {
        border: none;
        width: fit-content;
        background: none;
        outline: none;
    }

}

option {
    color: $c-text;
}

.hidden-info {
    display: none;
}